<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userprofile</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://cdn.boxicons.com/fonts/brands/boxicons-brands.min.css' rel='stylesheet'>
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/style1.css">
</head>

<body><div class="Nav">
        <a href="meetingroom.html">Meeting Room</a></div>
    <div class="flex">
        <div class="main-container">
            <div class="user-profile">
                <h2>Profile Information</h2>
                <table class="profile-table">


                    <tr>
                        <th>Name</th>
                        <td>
                            <%= fullName %>
                        </td>
                    </tr>
                    <tr>
                        <th>Seat Number</th>
                        <td>
                            <%= seatNumber %>
                        </td>
                      </tr>
                    
                    <tr>
                        <th>Manager</th>
                        <td>
                            <%= designation %>
                        </td>
                    </tr>
                    <tr>
                        <th>Department</th>
                        <td>
                            <%= departmentName %>
                        </td>
                    </tr>
                    <tr>
                        <th>Admin</th>
                        <td>
                            <%= admin %>
                        </td>
                    </tr>
                    
                    <tr>
                        <th>Workplace</th>
                        <td>
                            <%= workplace %>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="box">
            <table>
                <thead>
                    <tr>
                        <th colspan="3">Important WPS Contacts</th>
                    </tr>
                </thead>
                <tr>
                    <th>WPS Helpdesk </th>
                    <th colspan="2">Medical Emergency</th>
                </tr>
                <tr>
                    <td> <i class='bx bx-phone'></i> 2682039<br><i class='bx  bx-mobile'></i> 0124-268-2039</td>
                    <td colspan="2"></i> <i class='bx bx-phone'></i> 2682400<br><i class='bx  bx-mobile'></i>
                        0124-486-2400
                    </td>
                </tr>

                <tr>
                    <th>You can call WPS Helpdesk for </th>
                    <th>Other WPS Service</th>
                    <th>Contact Number</th>
                </tr>
                <tr>
                    <td rowspan="4">
                        <p>1. Air conditioning Electrical Carpentry,Pedestal Key,Printer related requests etc.</p><br>
                        <p>2. Cleaning Movement, Pest Control,Events/Client visit arrangements, coffee talk requests
                            etc.
                        </p><br>
                        <p>3.Any other facilities related requests please write, call & raise your requests
                            here:-<u>helpdesk.gurugram@keysight.com</u><br>
                            Helpdesk Timing:- 09:00AM-17:00PM/24*5 (Mon-Fri)<b><i class='bx bx-phone'></i> 2682039/<i
                                    class='bx  bx-mobile'></i> 0124-486-2039</b></p><br>
                        To submit a Work order,please enter your requests in the facilities management system
                        <u>https://myservice.cbre.com</u><br> or
                        <u>helpdesk.gurugram@keysight.com</u>
                    </td>
                    <td>Reception</td>
                    <td><i class='bx bx-phone'></i>4862999<br><i class='bx  bx-mobile'></i> 0124-486-2999<br><i
                            class='bx  bx-mail-open'></i>frontdesk_gurugram@non.keysight.com
                    </td>
                </tr>
                <tr>


                    <td>Security Response Center</td>
                    <td><i class='bx bx-phone'></i>4862400<br><i class='bx  bx-mobile'></i> 0124-486-2400<br>
                        <i class='bx  bx-mail-open'></i> gurgaon_security@keysight.com
                    </td>
                </tr>
                <tr>

                    <td>Mail Room</td>
                    <td><i class='bx bx-phone'></i>4862044<br>
                        <i class='bx  bx-mobile'></i> 0124-486-2044<br><i class='bx  bx-mail-open'></i>
                        fredeexe_gurugram@keysight.com
                    </td>

                </tr>
                <tr>

                    <td>Medical Room</td>
                    <td><i class='bx bx-phone'></i> 4862050<br>
                        <i class='bx  bx-mobile'></i> 0124-486-2050
                    </td>
                </tr>


            </table>
            <table>
                <thead>
                    <th colspan="4">For Escalations,Please follow the below matrix</th>
                </thead>
                <tr>
                    <td>Level 1</td>
                    <td>Asiya Mehraj-Soft Service<br>Rajeev Kumar-Techncial Service</td>
                    <td><i class='bx  bx-mail-open'></i> asiya.mehraj@non.keysight.com<br><i
                            class='bx  bx-mail-open'></i> rajeev.kumar1@non.keysight.com</td>
                    <td><i class='bx bx-phone'></i>9220818816</td>
                </tr>
                <tr>
                    <td>Level 2</td>
                    <td>Harpreet Hallen</td>
                    <td><i class='bx  bx-mail-open'></i> harpreet.hallen@non.keysight.com</td>
                    <td><i class='bx bx-phone'></i>9560215215</td>
                </tr>
                <tr>
                    <td>Level 3</td>
                    <td>Mani kasireddi</td>
                    <td><i class='bx  bx-mail-open'></i> mani.kasireddi@non.keysight.com</td>
                    <td><i class='bx bx-phone'></i>9925886330</td>
                </tr>

            </table>


        </div>
    </div>

</body>

</body>

</html>